.crud-engine{

  h2{
    padding: 0;
    text-align: center;
  }

  .selectize-control{
    width: 300px;
  }
  .node_value{
    label{
      margin-top:10px;
      vertical-align: top;
    }
  }

  .x-form-trigger.x-form-search-trigger{
    background: url(http://localhost:4502/libs/cq/core/content/welcome/images/sprite.png) no-repeat scroll -3px -202px transparent;
    width: 22px;
    height: 22px;
    cursor: pointer;
    margin-top: -2px;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
  }

  .inline-block{
    display:inline-block;
  }

  .path_operation, .property_operation{
    margin-top:-5px;
  }

  .simple-ui, .advanced-ui, .xpath-ui, .querybuilder-ui{
    background: rgba(200,200,200,.1);
    border: 1px solid lightgrey;
    border-top: none;
    padding: 10px;
  }

  .pipe{
    background: rgba(200,200,200,.1);
    border: 1px dashed lightgrey;
    padding: 10px;
  }

  .target_display tbody{
    max-height: 300px;
    overflow-y: scroll;
  }

  textarea{
    width: 350px;
    height: 200px;

    &[readonly]{
      background: lightgrey;
      height: 66px;
    }
  }

  .node_type input{
    width: 250px;
  }

  .coral-BasicList-item-contentContainer{
    width: 230px;
  }
}