<sly data-sly-use.crudEngine="com.apsk.crud.component.CRUDEngine">
    <div class="crud-engine container-fluid" data-ng-controller="crudEngineCtrl" data-ng-cloak>
        <h2 class="crud-header">AEM JCR CRUD Engine<br><small>Create.Read.Update.Delete.</small></h2>
        <div class="pipe_form">
            <div class="target row">
                <div class="target_build col-md-6">
                    <h3>Search <small>Create query for input</small></h3>

                    <coral-tablist target="" data-ng-cloak>
                        <coral-tab data-ng-click="pipes.query_type = 'simple'">
                            Simple UI
                        </coral-tab>
                        <!-- <coral-tab data-ng-click="pipes.query_type = 'advanced'">
                            Advanced UI
                        </coral-tab> -->
                        <coral-tab data-ng-click="pipes.query_type = 'xpath'">
                            Xpath
                        </coral-tab>
                        <coral-tab data-ng-click="pipes.query_type = 'querybuilder'">
                            Query Builder
                        </coral-tab>
                    </coral-tablist>

                    <div class="xpath-ui" data-ng-show="pipes.query_type == 'xpath'" data-ng-cloak>
                        <h4>Xpath <small>Enter xpath query for input.</small></h4>
                        <textarea is="coral-textarea" data-ng-bind="pipes.xpath_query" ></textarea>
                    </div>

                    <div class="querybuilder-ui" data-ng-show="pipes.query_type == 'querybuilder'" data-ng-cloak>
                        <h4>Query Builder <small>Enter Query Builder string for input.</small></h4>
                        <textarea is="coral-textarea" data-ng-bind="pipes.querybuilder_query" ></textarea>
                    </div>

                    <div class="advanced-ui" data-ng-show="pipes.query_type == 'advanced'" data-ng-cloak>
                        <!-- ToDo: pull in query builder ui project -->
                    </div>

                    <div class="simple-ui" data-ng-show="pipes.query_type == 'simple'" data-ng-cloak>
                        <div class="pipe-path form-group">
                            <h4>Path <small>Location for query to search</small></h4>
                            <div class="inline-block">
                                <input is="coral-textfield" id="path" type="text" autocomplete="off" data-ng-init="initTreeLoader()" data-ng-model="pipes.path"  value="/"/>
                            </div>
                            <coral-buttongroup selectionmode="single" name="button-group" labelledby="labelledBy">
                                <button is="coral-button" data-ng-click="pipes.path_operation = 'exact'">
                                    <coral-button-label>Exact</coral-button-label>
                                </button>
                                <button is="coral-button" data-ng-click="pipes.path_operation = 'children'">
                                    <coral-button-label>Children</coral-button-label>
                                </button>
                                <button is="coral-button" data-ng-click="pipes.path_operation = 'recursive'" selected>
                                    <coral-button-label>Recursive</coral-button-label>
                                </button>
                            </coral-buttongroup>
                        </div>
                        <div class="pipe-node form-group" data-ng-hide="pipes.path_operation == 'exact'">
                            <h4>Node Filters <small>Limit results to match Node</small></h4>
                            <coral-buttongroup selectionmode="single" name="button-group" labelledby="labelledBy">
                                <button is="coral-button" data-ng-click="pipes.node_operation = 'none'">
                                    <coral-button-label>None</coral-button-label>
                                </button>
                                <button is="coral-button" data-ng-click="pipes.node_operation = 'name'">
                                    <coral-button-label>Name</coral-button-label>
                                </button>
                                <button is="coral-button" data-ng-click="pipes.node_operation = 'type'">
                                    <coral-button-label>Type</coral-button-label>
                                </button>
                                <button is="coral-button" data-ng-click="pipes.node_operation = 'nametype'">
                                    <coral-button-label>Name and Type</coral-button-label>
                                </button>
                            </coral-buttongroup>
                            <div class="pipe form-group node_value" data-ng-hide="pipes.node_operation == 'none'">
                                <label class="node_name" data-ng-hide="pipes.node_operation == 'type'">
                                    <h5>Name <small>* matches all</small></h5>
                                    <input is="coral-textfield" type="text" data-ng-model="pipes.node" />
                                </label>
                                <label class="node_type" data-ng-hide="pipes.node_operation == 'name'">
                                    <h5>Type</h5>
                                    <coral-autocomplete id="type-autocomplete" placeholder="Node Type" match="contains" icon="search" data-ng-model="pipes.node_type">
                                        <sly data-sly-list.nodeType="${crudEngine.nodeTypes}">
                                            <coral-autocomplete-item class="autocomplete-item" value="${nodeType}">${nodeType}</coral-autocomplete-item>
                                        </sly>
                                    </coral-autocomplete>
                                </label>
                            </div>
                        </div>
                        <div class="pipe-property form-group">
                            <h4>Property Filters <small>Limit results to match Property</small></h4>
                            <coral-buttongroup selectionmode="single" name="button-group" labelledby="labelledBy">
                                <button is="coral-button" data-ng-click="pipes.property_operation = 'none'">
                                    <coral-button-label>None</coral-button-label>
                                </button>
                                <button is="coral-button" data-ng-click="pipes.property_operation = 'exists'">
                                    <coral-button-label>Exists</coral-button-label>
                                </button>
                                <button is="coral-button" data-ng-click="pipes.property_operation = 'equals'">
                                    <coral-button-label>Equals</coral-button-label>
                                </button>
                                <button is="coral-button" data-ng-click="pipes.property_operation = 'unequals'">
                                    <coral-button-label>Unequals</coral-button-label>
                                </button>
                                <button is="coral-button" data-ng-click="pipes.property_operation = 'contains'">
                                    <coral-button-label>Contains</coral-button-label>
                                </button>
                            </coral-buttongroup>
                            <div class="pipe form-group property_value" data-ng-hide="pipes.property_operation == 'none'">
                                <label>
                                    <h5>Type</h5>
                                    <input is="coral-textfield" type="text" data-ng-model="pipes.property" />
                                </label>
                                <span class="display_operation">
                                    <span data-ng-show="pipes.property_operation == 'equals'">=</span>
                                    <span data-ng-show="pipes.property_operation == 'unequals'">!=</span>
                                    <span data-ng-show="pipes.property_operation == 'contains'">.contains(</span>
                                </span>
                                <label data-ng-hide="pipes.property_operation == 'exists'">
                                    <h5>Value</h5>
                                    <input is="coral-textfield" type="text" data-ng-model="pipes.property_value" />
                                </label>
                                <span data-ng-show="pipes.property_operation == 'contains'">)</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="target_display form-group col-md-6" data-ng-cloak>
                    <h3>Input <small>Generated Xpath Query</small></h3>
                    <textarea is="coral-textarea" data-ng-bind="pipes.query" readonly></textarea>
                    <br><br>
                    <button is="coral-button" icon="folderSearch" iconsize="M" data-ng-click="getXpathResults()">Show Results</button>
                    <div data-ng-show="pipes.first_props">
                        <h3>Sample Result</h3>
                        <h5>Path: <span data-ng-bind="pipes.first_path"></span></h5>
                        <table is="coral-table">
                            <thead is="coral-table-head">
                                <tr is="coral-table-row">
                                    <th is="coral-table-headercell">Property Name</th>
                                    <th is="coral-table-headercell">Value</th>
                                </tr>
                            </thead>
                            <tbody is="coral-table-body" divider="cell">
                                <tr is="coral-table-row" data-ng-repeat="(key, value) in pipes.first_props track by $index">
                                    <td is="coral-table-cell">{{key}}</td>
                                    <td is="coral-table-cell">{{value}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="action row">
                <div class="action_build col-md-6" data-ng-cloak>
                    <h3>Action</h3>
                    <div>
                        <coral-buttongroup selectionmode="single" name="button-group" labelledby="labelledBy">
                            <button is="coral-button" data-ng-click="pipes.action = 'none'" title="None: No Action Selected">
                                <coral-button-label>None</coral-button-label>
                            </button>
                            <button is="coral-button" data-ng-click="pipes.action = 'delete'" title="Delete: Removes the matches from the JCR">
                                <coral-button-label>Delete</coral-button-label>
                            </button>
                            <button is="coral-button" data-ng-click="pipes.action = 'write'" title="Write: Add or Update property on matches">
                                <coral-button-label>Write</coral-button-label>
                            </button>
                            <button is="coral-button" data-ng-click="pipes.action = 'replace'" title="Replace: Find and Replace Property on matches">
                                <coral-button-label>Replace</coral-button-label>
                            </button>
                            <button is="coral-button" data-ng-click="pipes.action = 'conditional'" title="Conditional: Apply Conditional on Property from matches">
                                <coral-button-label>Conditional</coral-button-label>
                            </button>
                            <button is="coral-button" data-ng-click="pipes.action = 'mkdir'" title="Make Directory: Creates Folder on each match">
                                <coral-button-label>Make Directory</coral-button-label>
                            </button>
                        </coral-buttongroup>
                        <div class="pipe action-write form-group" data-ng-show="pipes.action == 'write'">
                            <label>
                                <h5>Property</h5>
                                <input is="coral-textfield" type="text" data-ng-model="pipes.action_property" />
                            </label>
                            <span>=</span>
                            <label>
                                <h5>Value</h5>
                                <input is="coral-textfield" type="text" data-ng-model="pipes.write" />
                            </label>
                        </div>
                        <div class="pipe action-conditional form-group" data-ng-show="pipes.action == 'conditional'">
                            <label>
                                <h5>Property</h5>
                                <input is="coral-textfield" type="text" data-ng-model="pipes.action_property" />
                            </label>
                            <span> = </span>
                            <br>
                            <span>(</span>
                            <label>
                                <h5>Condition</h5>
                                <input is="coral-textfield" type="text" data-ng-model="pipes.condition" />
                            </label>
                            <select class="condition_operation" data-ng-model="pipes.condition_operation">
                                <option value="==" selected>==</option>
                                <option value="===">===</option>
                                <option value="<">&lt;</option>
                                <option value="<=">&lt;=</option>
                                <option value=">">&gt;</option>
                                <option value=">=">&gt;=</option>
                                <option value="!=">!=</option>
                            </select>
                            <label>
                                <h5>Value</h5>
                                <input is="coral-textfield" type="text" data-ng-model="pipes.condition_value" />
                            </label>
                            <span>) ? </span>
                            <label>
                                <h5>Expr1</h5>
                                <input is="coral-textfield" type="text" data-ng-model="pipes.expr1" />
                            </label>
                            <span> : </span>
                            <label>
                                <h5>Expr2</h5>
                                <input is="coral-textfield" type="text" data-ng-model="pipes.expr2" />
                            </label>
                        </div>
                        <div class="pipe action-replace form-group" data-ng-show="pipes.action == 'replace'">
                            <label>
                                <h5>Property</h5>
                                <input is="coral-textfield" type="text" data-ng-model="pipes.action_property" />
                            </label>
                            <label>
                                <h5>Find</h5>
                                <input is="coral-textfield" type="text" data-ng-model="pipes.find" />
                            </label>
                            <label>
                                <h5>Replace</h5>
                                <input is="coral-textfield" type="text" data-ng-model="pipes.replace" />
                            </label>
                        </div>
                        <div class="pipe action-mkdir form-group" data-ng-show="pipes.action == 'mkdir'">
                            <label>
                                <h5>Folder Name</h5>
                                <input is="coral-textfield" type="text" data-ng-model="pipes.folder" />
                            </label>
                        </div>
                    </div>
                </div>
                <div class="action_display form-group col-md-6" data-ng-cloak>
                    <h3>Output</h3>
                    <textarea is="coral-textarea" data-ng-bind="pipes.output"  readonly></textarea>
                </div>
            </div>
        </div>
        <div class="pipe-parent form-check">
            <div class="coral-Checkbox">
                <input type="checkbox" handle="input" data-ng-model="pipes.parent" class="coral-Checkbox-input" id="coral-id-4">
                <span class="coral-Checkbox-checkmark" handle="checkbox"></span>
                <label class=" coral-Checkbox-description" handle="labelWrapper" for="coral-id-4">
                    <coral-icon icon="branch3" size="M"></coral-icon>
                    <coral-checkbox-label>Perform Action on Only Parents of Results</coral-checkbox-label>
                </label>
            </div>
        </div>
        <div class="pipe-package form-check">
            <div class="coral-Checkbox">
                <input type="checkbox" handle="input" data-ng-model="pipes.package" class="coral-Checkbox-input" id="coral-id-5">
                <span class="coral-Checkbox-checkmark" handle="checkbox"></span>
                <label class="coral-Checkbox-description" handle="labelWrapper" for="coral-id-5">
                    <coral-icon icon="box" size="M"></coral-icon>
                    <coral-checkbox-label>Create Backup Package</coral-checkbox-label>
                </label>
            </div>
            <div data-ng-show="pipes.package">
                <label>
                    <h5>Package Name</h5>
                    <input is="coral-textfield" type="text" data-ng-model="pipes.package_name"/>
                </label>
            </div>
        </div>
        <br>
        <div>
            <button is="coral-button" icon="wand" iconsize="M" data-ng-click="run()">Run</button>
        </div>
    </div>
</sly>